<div class="dashboard_grid3">
  <div class="main-chart2">
    <canvas id="cumulativeOutcome2" style="background-color: transparent;"></canvas>
      <%= content_for :after_js do %>
      <script>
          var inputs = {
            min: -100,
            max: 100,
            count: 8,
            decimals: 2,
            continuity: 1
          };
          var canvas_element = document.getElementById("cumulativeOutcome2");
          // canvas_element.height = 75;
          var lineChart = new Chart(canvas_element, {
            type: 'line',
            data: {
              labels: <%= raw @bet_dates %>,
              datasets: [{
                  data: <%= raw @cumulative_total %>,
                  label: "Total Profit",
                  backgroundColor: "rgba(0, 21, 33, 0.7)",
                  borderColor: "rgba(80, 255, 177, 1)",
                  borderWidth: 1,
                  borderCapStyle: 'butt',
                  fill: true
                }
              ]
            },
            options: {
              responsive: true,
              maintainAspectRatio: false,
              title: {
                display: true,
                text: 'Cumulative Profit',
                fontColor: 'rgba(0,0,0,0)',
                fontStyle: 'light'
              },
              hover: {
                intersect: true,
                animationDuration: 400,
              },
              scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Month'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Value'
                    }
                }]
            }
          }});
      </script>
      <% end %>
  </div>
  <div class="filter-bar2">
      <h3>Bets you have made:</h3>
      <%= link_to 'All', "", class: "dashboard-tab all" %>
      <%= link_to 'Won', "", class: "dashboard-tab", "data-target" => ".won" %>
      <!-- <div class="dashboard-tab"></div> -->
      <%= link_to 'Lost', "", class: "dashboard-tab", "data-target" => ".lost" %>
      <%= link_to 'Pending', "", class: "dashboard-tab", "data-target" => ".pending" %>
  </div>
  <div class="odds-container">
      <% @bets.each do |bet| %>
        <%= render "shared/dashboard_card", bet: bet %>
      <% end %>
  </div>
</div>
