<div class="dashboard_grid1">
    <!-- MAIN CHART -->
    <div class="main-chart">
      <!-- <h3>main chart</h3> -->
      <canvas id="cumulativeOutcome" style="background-color: transparent;"></canvas>
      <%= content_for :after_js do %>
      <script>
          var inputs = {
            min: -100,
            max: 100,
            count: 8,
            decimals: 2,
            continuity: 1
          };
          var canvas_element = document.getElementById("cumulativeOutcome");
          // canvas_element.height = 75;
          var lineChart = new Chart(canvas_element, {
            type: 'line',
            data: {
              labels: <%= raw @bet_dates %>,
              datasets: [{
                  data: <%= raw @cumulative_total %>,
                  label: "Total Profit",
                  backgroundColor: "rgba(0, 21, 33, 0.7)",
                  borderColor: "rgba(80, 255, 177, 1)",
                  borderWidth: 1,
                  borderCapStyle: 'butt',
                  fill: true
                }
              ]
            },
            options: {
              responsive: true,
              maintainAspectRatio: false,
              title: {
                display: true,
                text: 'Cumulative Profit',
                fontColor: 'rgba(0,0,0,0)',
                fontStyle: 'light'
              },
              hover: {
                intersect: true,
                animationDuration: 400,
              },
              scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Month'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Value'
                    }
                }]
            }
          }});
      </script>
      <% end %>
    </div>
    <!-- BAR CHART -->
    <div class="bar-chart">
      <canvas id="bar-chart"></canvas>
      <%= content_for :after_js do %>
      <script>
        new Chart(document.getElementById("bar-chart"), {
        type: 'bar',
        data: {
          labels: <%= raw @bet_dates %>,
          datasets: [
            {
              label: <%= @completed_bet_status = [] %>,
              backgroundColor: <%= raw @completed_bet_color %>,
              data: <%= raw @completed_bet_returns %>
            }
          ]
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          legend: { display: false },
          title: {
            display: true,
            text: 'Bar Chart'
                }
              }
          });
      </script>
      <% end %>
    </div>
    <!-- EXTRA INFO -->
    <div class="wins other-information">
        <h4>Wins</h4>
        <h5 class="text-green text-center"><%= @wins.count %></h5>
    </div>
    <div class="losses other-information">
        <h4>Losses</h4>
        <h5 class="text-red text-center"><%= @losses.count %></h5>
    </div>
    <div class="total-profit other-information">
        <h4>Profit</h4>
        <h5><%= @total_profit > 0 ? "" : "-" %>£ <span class="<%= @total_profit > 0 ? "text-green" : "text-red" %>"><%= @total_profit.abs %></span></h5>
    </div>
    <div class="total-bet other-information">
      <h4>Invested</h4>
      <h5 class="text-center">£ <%= @total_stake %></h5>
    </div>
</div>
