<div class="dashboard_grid3">
  <div class="main-chart2">
    <h3>main chart</h3>
    <canvas id="lineChart" style="background-color: transparent;"></canvas>
    <script>
        var ctx = document.getElementById("lineChart");
        var lineChart = new Chart(ctx, {
          type: 'line',
          data: {
            labels: <%= raw @bet_dates %>,
            datasets: [{
                data: <%= raw @bet_returns %>,
                label: "Your profit",
                backgroundColor: "rgba(0, 21, 33, 0.7)",
                borderColor: "rgba(80, 255, 177, 1)",
                borderWidth: 1,
                borderCapStyle: 'butt',
                fill: false
              }
            ]
          },
          options: {
            title: {
              display: true,
              text: 'Your performance',
              fontColor: 'rgba(0,0,0,0)',
              fontStyle: 'light'
            }
          }
        });
    </script>
  </div>
  <div class="odds-container2">
      <h3>Bets you have made:</h3>
      <div class="filter-bar">
        <%= link_to 'All', dashboard_path(b: 'all'), remote: true, class: "dashboard-tab testwork", id: "all" %>
        <%= link_to 'Won', dashboard_path(b: 'win'), remote: true, class: "dashboard-tab", "data-target" => ".won" %>
        <!-- <div class="dashboard-tab"></div> -->
        <%= link_to 'Lost', dashboard_path(b: 'lost'), remote: true, class: "dashboard-tab",id:"lost-click",  "data-target" => ".lost" %>
        <%= link_to 'Pending', dashboard_path(b: 'pending'), remote: true, class: "dashboard-tab", "data-target" => ".pending" %>
      </div>
      <div class="headers">
        <h5 id="outcome-head">Outcome</h5>
        <h5 id="stake-head">Stake</h5>
        <h5 id="result-head">Score</h5>
        <h5 id="bet-result-head">Bet</h5>
        <h5 id="bookmaker-head">Bookmaker</h5>
      </div>
      <% @bets.each do |bet| %>
        <%= render "shared/dashboard_card", bet: bet %>
      <% end %>
    </div>

</div>
