<div class="dashboard_grid2">
      <h3>Bets you have made:</h3>
    <div class="filter-bar">
      <%= link_to 'All', "", class: "dashboard-tab all" %>
      <%= link_to 'Won', "", class: "dashboard-tab", "data-target" => ".won" %>
      <%= link_to 'Lost', "", class: "dashboard-tab", "id" => "lost-click", "data-target" => ".lost" %>
      <%= link_to 'Pending', "", class: "dashboard-tab", "data-target" => ".pending" %>
    </div>
      <div class="headers">
        <div id="header-empty-space">

        </div>
        <div id="dash-headers-box">
          <h5 id="outcome-head">Outcome</h5>
          <div id="stupid-dumb-div">
            <h5 id="stake-head">Stake</h5>
            <h5 id="result-head">Score</h5>
          </div>
          <h5 id="bet-result-head">Bet</h5>
          <h5 id="bookmaker-head">Bookmaker</h5>
        </div>
      </div>
    <div class="odds-container2">
      <% @bets.each do |bet| %>
        <%= render "shared/dashboard_card", bet: bet %>
      <% end %>
    </div>
</div>
