<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<%= javascript_include_tag "dashboard" %>

<div class="dashboard-container">
      <%= render "shared/dashboard-navigation" %>
      <div class="tab-content">
      <!-- GRID 1 -->
        <div role="tabpanel" class="tab-pane active" id="main-grid">
            <%= render "dashboard_grid1" %>
        </div>
      <!-- GRID 2 -->
        <div role="tabpanel" class="tab-pane" id="second-grid">
            <%= render "dashboard_grid2" %>
        </div>
      <!-- GRID 3 -->
        <div role="tabpanel" class="tab-pane" id="third-grid">
            <%= render "dashboard_grid3" %>
        </div>
      </div>
<!-- Dashboard_Container -->
</div>

<% content_for(:after_js) do %>
<% end %>
