<div class="dashboard">
  <%= render 'shared/user-grid' %>
   <div class="user-bets-grid">
    <h2>My bets</h2>
    <div class="filter-bar">
    <%= link_to 'All', dashboard_path(b: 'all')%>
    <%= link_to 'Won', dashboard_path(b: 'win') %>
    <%= link_to 'Lost', dashboard_path(b: 'lost')%>
    <%= link_to 'Pending', dashboard_path(b: 'pending')%>
  </div>
</div>

<% @user_bets.each do |bet| %>
  <%= bet.match.status %>
<% end %>


<!-- needs fix -->

<canvas id="myChart" style="background-color: transparent;"></canvas>

<% content_for(:after_js) do %>

<script>

// function addData(chart, label, data) {
//     chart.data.labels.push(<%#= @bet.created_at %>);
//     chart.data.datasets.forEach((dataset) => {
//         dataset.data.push(<%#= (@bet.stake * @bet.odd) %>);
//     });
//     chart.update();
// }


var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: <%= raw @bet_dates %>,
    datasets: [{
        data: <%= raw @bet_returns %>,
        label: "Your profit",
        borderColor: "#c45850",
        fill: false
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'Your performance'
    }
  }
});
</script>
<% end %>
