<%= link_to odd_path(odd.id) do %>
  <div class="index-card" data-target="#new_match">
    <div class="rating">
      <span><%= count %></span>
    </div>

    <div class="card-teams flex-item">
      <div class="team <%= "winning-team" if true %>">
        <% if odd.match.home_team.logo %>
          <% photo = odd.match.home_team.logo %>
        <% else %>
          <% photo = "logo.png" %>
        <% end %>
        <div class="icons">
          <%= image_tag photo, class:"team-logo" %>
          <div style="margin-left: 20px;">
          <h5 class="team-name"><%= odd.match.home_team.name %></h5>
          </div>
        </div>
      </div>
      <div class="team <%= "winning-team" if false %>">
        <% if odd.match.away_team.logo %>
          <% photo = odd.match.away_team.logo %>
        <% else %>
          <% photo = "logo.png" %>
        <% end %>
        <div class="icons">
          <%= image_tag photo, class:"team-logo" %>
          <div style="margin-left: 20px;">
          <h5 class="team-name"><%= odd.match.away_team.name %></h5>
          </div>
        </div>
      </div>
    </div>

    <div class="card-middle">
      <div class="outcome">
        <h3><%= odd.outcome.upcase %></h3>
      </div>

      <div class="bookmaker">
        <% if odd.bookmaker %>
          <%= cl_image_tag("#{odd.bookmaker.logo}.png", :radius=>15, :width=>50, :crop=>"scale")  %>
        <% else %>
          <%= image_tag 'logo.png' %>
        <% end %>
        <span class="new_match active" id="decimal_odd" ><%= odd.odds %></span>
        <span class="new_match" id="fractional_odd" ><%= odd.frac_odd %></span>
      </div>
    </div>

    <div class="card-end">
      <% rating = odd.mapped_rating.to_f %>
      <% hex = "" %>
      <% if (rating <= 100) && (rating > 98) %>
        <% hex = "yellowbright.png" %>
      <% elsif (rating <= 98) && (rating > 96) %>
        <% hex = "yellow1.png" %>
      <% elsif (rating <= 96) && (rating > 94) %>
        <% hex = "fucking-bright-green.png" %>
      <% elsif (rating <= 94) && (rating > 92) %>
      <% hex = "very-light-green.png" %>
      <% elsif (rating <= 92) && (rating > 90) %>
      <% hex = "light-green.png" %>
      <% elsif (rating <= 90) && (rating > 88) %>
      <% hex = "mid-green.png" %>
      <% elsif (rating <= 88) && (rating > 86) %>
      <% hex = "dark-green.png" %>
      <% elsif (rating <= 86) && (rating > 84) %>
      <% hex = "light-blue.png" %>
      <% elsif (rating <= 84) && (rating > 82) %>
      <% hex = "mid-blue.png" %>
      <% elsif (rating <= 82) && (rating > 80) %>
      <% hex = "dark-blue.png" %>
      <% elsif (rating <= 80) && (rating > 78) %>
      <% hex = "lightpurp.png" %>
      <% elsif  (rating <= 78) && (rating > 76) %>
      <% hex = "light-purple.png" %>
      <% elsif  (rating <= 76) && (rating > 74) %>
      <% hex = "mid-purple.png" %>
      <% elsif  (rating <= 74) && (rating > 72) %>
      <% hex = "dark-purple.png" %>
      <% elsif  (rating <= 72) && (rating >= 70) %>
      <% hex = "dark-purple.png" %>
      <% else %>
      <% hex = "dark-purple.png" %>
      <% end %>

      <% if rating > 88 %>
        <% black_color = "black-span" %>
      <% end %>

      <div class="hexagon" style="background-image: url(<%= image_path hex %>)">
          <span class="match-rating <%= black_color %>"> <%= rating %></span>
      </div>
    </div>
</div>

<% end %>
