  <div class="index-card" data-target="#new_match">
    <div class="rating">
      <span><%= index+1 %></span>
    </div>
    <div class="card-teams flex-item">
      <div class="team <%= "winning-team" if true %>">
        <% if odd.match.home_team.logo %>
          <% photo = odd.match.home_team.logo %>
        <% else %>
          <% photo = "logo.png" %>
        <% end %>
        <div class="icons">
          <%= image_tag photo, class:"team-logo" %>
          <div style="margin-left: 20px;">
          <h5 class="team-name"><%= odd.match.home_team.name %></h5>
          </div>
        </div>
      </div>
      <div class="team <%= "winning-team" if false %>">
        <% if odd.match.away_team.logo %>
          <% photo = odd.match.away_team.logo %>
        <% else %>
          <% photo = "logo.png" %>
        <% end %>
        <div class="icons">
          <%= image_tag photo, class:"team-logo" %>
          <div style="margin-left: 20px;">
          <h5 class="team-name"><%= odd.match.away_team.name %></h5>
          </div>
        </div>
      </div>
    </div>


  <!-- TOMMY'S CODE STARTS HERE  -->
    <div class="outcome">
      <h3><%= odd.outcome.upcase %></h3>
    </div>
    <!-- TOMMYS CODE ENDS HERE -->

    <div class="card-odds flex-item">
      <div class="bookmaker">
        <%= cl_image_tag("#{odd.bookmaker.logo}.png", :radius=>15, :width=>50, :crop=>"scale")  %>

        <span id = "new_match" ><%= odd.odds.to_f %></span>
      </div>

      <form class="form-inline">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon">£</div>
          <input type="text" autocomplete="off" class="form-control form-input-odd" placeholder="1" data-insert="#insert-text<%= odd.id %>">
        </div>
        <label>Profit:</label>
        <span class="model-prediction" id = "insert-text<%= odd.id %>">2</span>
      </form>
    </div>


    <div class="card-middle flex-item">
      <% rating = odd.mapped_rating %>
      <% if %>
        <% (rating <= 100) && (rating > 97) %>
        <% hex = "yellowbright.png" %>
      <% elsif %>
        <% (rating <= 97) && (rating > 90) %>
        <% hex = "yellow1.png" %>
      <% elsif %>
        <% (rating <= 90) && (rating > 87) %>
        <% hex = "fucking-bright-green.png" %>
      <% elsif %>
        <% (rating <= 87) && (rating > 80) %>
      <% hex = "very-light-green.png" %>
      <% else %>
        <% hex = "yellowbright.png.png" %>
      <% end %>
      <div class="hexagon" style="background-image: url(<%= image_path hex %>)">
        <%= link_to odd_path(odd) do %>
          <span class="match-rating"><%= rating %></span>
        <% end %>
      </div>
    </div>


  </div>

