<div class="message <%= bet.won? ? 'won' : nil %>"></div>



<% dashboard_card_color = nil %>

  <% if bet.status == "pending" %>
    <%  dashboard_card_color = "#959595" %>
  <% elsif bet.status == "won" %>
    <% dashboard_card_color = "#50FFB1" %>
  <% elsif bet.status == "lost" %>
    <% dashboard_card_color = "#EA526F" %>

<% end %>




<div class="message active <%= bet.status %>" style="border:2px solid <%= "#{dashboard_card_color}" %>; height: 60px;">
  <div class="message-body cards-team">
        <div class="team home-team">
          <%= image_tag bet.match.home_team.logo ? bet.match.home_team.logo : 'logo.png', class:"team-avatar" %>
          <% if bet.match.outcome == "Draw" %>
            <span class="draw-underline"><%= bet.match.home_team.name %></span>
          <% elsif bet.match.outcome == "Home" %>
            <span class="win-underline"><%= bet.match.home_team.name %></span>
          <% else %>
            <span><%= bet.match.home_team.name %></span>
          <% end %>
        </div>
          <span class="vs-card">VS</span>
          <div class="team-right">
          <div class="team away-team">
            <%= image_tag bet.match.away_team.logo ? bet.match.away_team.logo : 'logo.png', class:"team-avatar" %>
            <% if bet.match.outcome == "Draw" %>
              <span class="draw-underline"><%= bet.match.home_team.name %></span>
            <% elsif bet.match.outcome == "Away" %>
              <span class="win-underline"><%= bet.match.home_team.name %></span>
            <% else %>
              <span><%= bet.match.home_team.name %></span>
            <% end %>
          </div>
          </div>
  </div>

  <div class="message-body outcome">
    <h2 class="home-away-draw"> <%= bet.odd.outcome %> </h2>
  </div>

  <div class="test-width">


  <div class="message-body stake">
      <%= bet.stake %>
  </div>

  <div class="message-body score">
    <% if bet.status == "won" || bet.status == "lost" %>
    <div class="team home-team">
      <%= bet.match.goals_home_team %>
    </div>
    <span> : </span>
    <div class="team away-team">
      <%= bet.match.goals_away_team %>
    </div>
    <% end %>
  </div>


<div class="message-body" id="stake">
    <% if bet.odd.match.status == "FINISHED" %>
      <%= render 'users/finished_body', bet: bet %>
    <% else %>
      <%= render 'users/pending_body', bet: bet %>
    <% end %>
</div>


<div class="bookmaker-dashboard">
  <div class="avatar-container">
    <% creator = bet.odd.bookmaker %>
    <%= cl_image_tag("#{creator.logo}.png", :radius=>15, :width=>50, :crop=>"scale")  %>
  </div>
  <div class="bookmaker-odds">
    <%= bet.odd.odds %>
  </div>
</div>
</div>
</div>
