<div class="landing-page">
  <%= render "landing_banner" %>
    <!-- <div class="ready">
      <h4>Ready to get started?</h4>
      <a class="" data-toggle="modal" data-target="#upModal">Sign up</a>
    </div> -->
  <%= render "container1" %>
  <%= render "container2" %>
  <%= render "container3" %>
  <!-- MODAL -->
    <div id="upModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-container">
            <div class="row">
              <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="modal-body">

                  <h2>Sign up</h2>

                  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                    <%= f.error_notification %>

                    <div class="form-inputs">
                      <%= f.input :email, required: true, autofocus: true %>
                      <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
                      <%= f.input :password_confirmation, required: true %>
                    </div>

                    <div class="form-actions", style="margin-bottom: 20px;">
                      <%= f.button :submit, "Sign up" %>
                    </div>
                    <% end %>
                    <hr>
                  <hr>
                  <%= render "devise/shared/links" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
















