<% previous_matches = match.prev_info %>
<% h2h_matches = match.h2h_info %>
      <div class="form-column text-center">
        <table>
          <thead>
              <th>
                <span class="header-underline">
              <%= match.home_team.name %> Form
                </span>
              </th>
          </thead>
          <tbody>
            <% previous_matches[0].reverse.each do |match| %>
              <tr>
                <td>
                  <% if match.outcome == "Draw" %>
                    <i class="fa fa-circle-o"></i>
                  <% elsif match.outcome == "Home" && match.home_team.name == @match.home_team.name %>
                    <i class="fa fa-check-circle-o"></i>
                  <% elsif match.outcome == "Away" && match.away_team.name == @match.home_team.name %>
                    <i class="fa fa-check-circle-o"></i>
                  <% else %>
                    <i class="fa fa-times-circle-o"></i>
                  <% end %>
                   <%= "#{match.match_date.strftime('%e/%m/%y')} #{match.home_team.name} #{match.goals_home_team} - #{match.goals_away_team} #{match.away_team.name}" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="form-column text-center">
        <table>
          <thead>
            <th>
              <span class="header-underline">
                <%= "Head to Head" %>
              </span>
            </th>
          </thead>
          <tbody>
            <% if h2h_matches.empty?  %>
              <tr>
                <td>
                  These teams have no recent head to head data
                </td>
              </tr>
            <% else %>
              <% h2h_matches.first(5).each do |h2h_match| %>
                <tr>
                  <td>
                    <span><%= h2h_match.match_date.strftime('%e/%m/%y') %></span>
                    <% if h2h_match.outcome == "Home" %>
                      <span class="win-underline"><%= h2h_match.home_team.name %></span>
                    <% elsif h2h_match.outcome == "Away" %>
                      <span class="lose-underline"><%= h2h_match.home_team.name %></span>
                    <% else %>
                      <span class="draw-underline"><%= h2h_match.home_team.name %></span>
                    <% end %>
                    <span><%="#{h2h_match.goals_home_team} - #{h2h_match.goals_away_team}" %></span>
                      <% if h2h_match.outcome == "Home" %>
                      <span class="lose-underline"><%= h2h_match.away_team.name %></span>
                    <% elsif h2h_match.outcome == "Away" %>
                      <span class="win-underline"><%= h2h_match.away_team.name %></span>
                    <% else %>
                      <span class="draw-underline"><%= h2h_match.away_team.name %></span>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="form-column text-center">
        <table>
          <thead>
            <th>
              <span class="header-underline">
                <%= match.away_team.name %> Form
              </span>
            </th>
          </thead>
          <tbody>
            <% previous_matches[1].reverse.each do |match| %>
              <tr>
                <td>
                  <% if match.outcome == "Draw" %>
                    <i class="fa fa-circle-o"></i>
                  <% elsif match.outcome == "Home" && match.home_team.name == @match.away_team.name %>
                    <i class="fa fa-check-circle-o"></i>
                  <% elsif match.outcome == "Away" && match.away_team.name == @match.away_team.name %>
                    <i class="fa fa-check-circle-o"></i>
                  <% else %>
                    <i class="fa fa-times-circle-o"></i>
                  <% end %>
                  <%= "#{match.match_date.strftime('%e/%m/%y')} #{match.home_team.name} #{match.goals_home_team} - #{match.goals_away_team} #{match.away_team.name} " %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
