<div class="front-page-container">
  <div class="tabs-container">
    <a href="/">
      <div class="league-tab topfive" id="all-tab">
        <h3 id="reccomended">Top 5</h3>
      </div>
    </a>
    <a href="/?league=Premier%20League">
      <div class="league-tab" id="PremierLeague">
        <%= image_tag "premier.png" %>
      </div>
    </a>
    <a href="/?league=Bundesliga">
      <div class="league-tab" id="Bundesliga">
        <%= image_tag "bundes.png" %>
      </div>
    </a>
    <a href="/?league=La%20Liga">
      <div class="league-tab" id="LaLiga">
        <%= image_tag "laliga.png" %>
      </div>
    </a>
    <a href="/?league=Serie%20A">
      <div class="league-tab" id="SerieA">
        <%= image_tag "seriea.png" %>
      </div>
    </a>
    <a href="/?league=Ligue%201">
      <div class="league-tab" id="Ligue1">
        <%= image_tag "ligue1.png" %>
      </div>
    </a>
  </div>

  <div class="ind-container">
    <div class="front-body">
      <h2>
        <% if params[:league].present? %>
          <%= params[:league] %>
        <% else %>
          Top 5 Bets of the Week:
        <% end %>
      </h2>
      <div class="odds-toggle">
        <h6>Decimal/Fractional:</h6>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>

      <div class="body-headers">
        <h4 id="outcome-date">Date</h3>
        <h4 id="outcome-header">Outcome</h3>
        <h4 id="odds-header">Best Odd</h3>
        <h4 id="rating-header">DataBall Rating <a href="" class="white-tooltip" data-toggle="tooltip" data-placement="left" title="DataBall applies a bespoke algorithm to find value in bets. By filtering for likely outcomes, and comparing bookies odds, our rating system offers a tested strategy for beating the bookies.">?</a></h4>
      </div>
      <div class="card-container text-center">
        <div class="card-container-child">
          <% @odds.each_with_index do |odd, index| %>
              <%= render "shared/card", count: index + 1, odd: odd  %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


