<div class="front-page-container">
  <div class="tabs-container">
    <div class="league-tab" id="all-tab">
      <h3>All</h3>
    </div>
    <div class="league-tab">
      <%= image_tag "premier.png" %>
    </div>
    <div class="league-tab">
      <%= image_tag "bundes.png" %>
    </div>
    <div class="league-tab">
      <%= image_tag "laliga.png" %>
    </div>
    <div class="league-tab">
      <%= image_tag "seriea.png" %>
    </div>
    <div class="league-tab">
      <%= image_tag "ligue1.png" %>
    </div>
  </div>

  <div class="ind-container">
    <div class="front-body">
      <h2>Recommended Bets of the Week:</h2>
      <div class="odds-toggle">
        <h6>Decimal/Fractional:</h6>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>
    
      <div class="body-headers">
        <h4 id="outcome-header">Outcome</h3>
        <h4 id="odds-header">Best Odds</h3>
        <h4 id="rating-header">DataBall Rating <a href="#">?</a> </h3>
      </div>
      <div class="card-container text-center">
        <div class="card-container-child">
          <% matches = [] %>
          <% @odds.first(1000).each_with_index do |odd, index| %>
              <%= render "shared/card", index: index, odd: odd  unless matches.include? odd.match.id %>
              <% matches << odd.match.id %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>


