<% home_team = @match.home_team %>
<% away_team = @match.away_team %>
<% home_team_model = home_team.team_model_outputs.first %>
<% away_team_model = away_team.team_model_outputs.first %>
<% match_model = @match.match_model_outputs.first %>

<% hex = "dark-purple.png" %>
<!-- ________________________________ -->
<!-- CONTAINER 1 -->
<!-- ________________________________ -->
<div class="show banner" id="show-page-banner">
  <div id="show-banner-hex">
    <div class="banner-content">
      <div class="banner-team-div col-xs-10 col-xs-offset-1">
        <div class="team-div">
            <div class="team-image">
              <%= image_tag home_team.logo %>
            </div>
            <div class="team-name">
              <h3><%= home_team.name %></h3>
            </div>
        </div>
        <div class="vs">
            <h3>vs.</h3>
        </div>
        <div class="team-div">
            <div class="team-image">
              <%= image_tag away_team.logo %>
            </div>
            <div class="team-name">
              <h3><%= away_team.name %></h3>
            </div>
        </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-xs-offset-3 odds-show-grid">
            <div class="match-info-grid">
                <div class="grid" id="prediction">
                  <h6>Prediction</h6>
                  <p><%= @odd.outcome %></p>
                </div>
                <div class="grid" id="model-odds">
                  <h6>Model Odds</h6>
                  <p><%= @match.model_outcome_odds(@odd) %></p>
                </div>
                <div class="grid" id="databall-rating">
                  <h6>DataBall Rating</h6>
                    <div class="hex_show" id="databall-rating-hex-show">
                        <div class="top">
                        </div>
                        <div class="middle">
                            <p><%= @odd.mapped_rating %></p>
                        </div>
                        <div class="bottom"></div>
                  </div>
                </div>
                <div class="grid" id="bookies-odds">
                  <h6>Best Odds</h6>
                    <%= link_to "#" do %>
                      <p><%= cl_image_tag("#{@odd.bookmaker.logo}.png", :radius=>15, :width=>70, :height=>70, :crop=>"scale")  %>
                      <span><%= @odd.odds %></span></p>
                    <% end %>
              </div>
          </div>
        </div>
      </div>
      <%= render 'shared/hover_button', odd: @odd %>
    </div>
  </div>
</div>
<!-- ________________________________ -->
<!-- CONTAINER 2 -->
<!-- ________________________________ -->
<div class="container2" id="model-output-container" style="background-color: #001D2E; width: 100%;">
    <div class="show model-information">
        <div class="row">
            <h2 class="text-center" id="model-show-head">What does the model say?</h2>
            <%= render 'hex-grid2', model: match_model %>
        </div>
      <div class="team-info-container">
        <%= render "team_model_info_table", home_team: home_team, away_team: away_team %>
      </div>
    </div>
</div>
<!-- ________________________________ -->
<!-- CONTAINER 3 -->
<!-- ________________________________ -->
<div class="container3-show " style="background-color: #001521; width: 100%;">
  <div class="team-form-container">
    <div class="form-table container">
    <%= render "form_table", match: @match %>
    </div>
  </div>
</div>

<%= render 'shared/bet_modal', odd: @odd %>
