<% home_team = @match.home_team %>
<% away_team = @match.away_team %>
<% home_team_model = home_team.team_model_outputs.first %>
<% away_team_model = away_team.team_model_outputs.first %>
<% match_model = @match.match_model_outputs.first %>

<% hex = "dark-purple.png" %>

<div class="show banner" id="show-page-banner">
  <div id="show-banner-hex">
    <div class="banner-content">
      <div class="banner-team-div">
        <div class="team-div">
            <div class="team-image">
              <%= image_tag home_team.logo %>
            </div>
            <div class="team-name">
              <h3><%= home_team.name %></h3>
            </div>
        </div>
        <div class="vs">
            <h3>vs.</h3>
        </div>
        <div class="team-div">
            <div class="team-image">
              <%= image_tag away_team.logo %>
            </div>
            <div class="team-name">
              <h3><%= away_team.name %></h3>
            </div>
        </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-xs-offset-3 odds-show-grid">
            <div class="match-info-grid">
                <div id="prediction">
                  <h6>Prediction</h6>
                  <p><%= @odd.outcome %></p>
                </div>
                <div id="model-odds">
                  <h6>Model Odds</h6>
                  <p><%= @match.model_outcome_odds(@odd) %></p>
                </div>
                <div id="databall-rating">
                  <h6>DataBall Rating</h6>
                    <div class="hex_show" id="databall-rating-hex-show">
                        <div class="top">
                        </div>
                        <div class="middle">
                            <p><%= @odd.rating.round(2) %></p>
                        </div>
                        <div class="bottom"></div>
                  </div>
                </div>
                <div id="bookies-odds">
                  <h6>Best Odds</h6>
                  <p><%= @odd.bookmaker.name %> - <span><%= @odd.odds %></span></p>
              </div>
          </div>
        </div>
      </div>
      <%= render 'shared/hover_button', odd: @odd %>
    </div>
  </div>
</div>
<div class="container2" id="model-output-container" style="background-color: #001D2E; width: 100%;">
    <div class="show model-information">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3 col-sm-offset-4 hex-grid-container">
              <div class="text-center hex-grid-center">
                  <%= render 'hex-grid2', model: match_model %>
              </div>
            </div>
        </div>
      <!-- NOTE 2x GRID -->
      <%# render 'hex-container' %>
      <div class="team-info-container">
        <div class="row">
          <div class="team-info text-center col-xs-4 col-xs-offset-2">
              <div class="home-team">
                <h4><%= home_team.name %></h4>
              </div>
              <div class="team-offensive-score">
                <p></p>
              </div>
              <div class="team-offensive-score">
                <p>Offensive Score</p>
                <p class="data"><%= "%.2f" % home_team_model.offensive_score %></p>
              </div>
              <div class="team-defensive-score">
                <p>Defensive Score</p>
                <p class="data"><%= "%.2f" % home_team_model.defensive_score %></p>
              </div>
          </div>
          <div class="team-info text-center col-xs-4">
              <div class="away-team">
                <h4><%= away_team.name %></h4>
              </div>
              <div class="team-offensive-score">
                <p></p>
              </div>
              <div class="team-offensive-score">
                <p>Offensive Score</p>
                 <p class="data"><%= "%.2f" % away_team_model.offensive_score %></p>
              </div>
              <div class="team-defensive-score">
                <p>Defensive Score</p>
                 <p class="data"><%= "%.2f" % away_team_model.defensive_score %></p>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="container3-show" style="background-color: #001521; width: 100%;">
  <div class="team-form-container">
    <div class="container form-table">
        <table>
          <thead>
            <tr>
              <th><%= home_team.name %> Form</th>
              <th>H2H</th>
              <th><%= away_team.name %> Form</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>@home.last_match <i class="fa fa-home" aria-hidden="true"></i></td>
              <td>@match.last_match</td>
              <td>@away.last_match</td>
            </tr>
            <tr>
              <td>@home.last_match</td>
              <td>@match.last_match</td>
              <td>@away.last_match <i class="fa fa-home" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td>@home.last_match <i class="fa fa-home" aria-hidden="true"></i></td>
              <td>@match.last_match</td>
              <td>@away.last_match</td>
            </tr>
            <tr>
              <td>@home.last_match</td>
              <td>@match.last_match</td>
              <td>@away.last_match</td>
            </tr>
            <tr>
              <td>@home.last_match <i class="fa fa-home" aria-hidden="true"></i></td>
              <td>@match.last_match</td>
              <td>@away.last_match <i class="fa fa-home" aria-hidden="true"></i></td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="home-form"></div>
    <div class="h2h-form"></div>
    <div class="away-form"></div>
  </div>
</div>
</div>

<%= render 'shared/bet_modal', odd: @odd %>

